<?xml version="1.0" encoding="utf8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="config server" verbose="1" >
    <test name="config server" preserve-order="true">
        <packages>
            <package name="com.yirendai.oss.environment.configserver" />
        </packages>
    </test>
</suite>
